//TODO: adjust the bin path to /PATHTOFOLDER/orb/bin
podman {
    runOptions = '--group-add keep-groups --cgroup-manager=cgroupfs --volume=bin/:/container/bin/'
}

// Default calour min reads setting
params {
    calour_min_reads = 1000
}

// TODO: adjust executor and queue name 
// TODO: adjust resource settings to fit local limitations 
process {
    executor = ''
    queue = ''
    cpus = 32
    memory = '64G'
    queueSize = 300
    time = '20h'
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
    maxRetries = 2

    withName: SALMON_QUANT {
        memory = '32G'
        cpus = 32
    }

    withName: MINIMAP2_MAP {
        cpus = 50
        memory = '50G'
    }

    withName: MINIMAP2FILTER {
        time = '120h'
    }

    withName: ASSEMBLYREADSTATS {
        cpus = 8
        memory = '380G'
        time = '72h'
    }

    withName: MERGEDATAFRAMES {
        memory = '150G'
    }

    withName: SEQKIT_GREP {
        ext.args = '-v'
    }

    withName: SEQKIT_GREP2 {
        ext.args = ''
    }

    withName: SEQKIT_SEQ {
        ext.args = "-m ${params.read_length + 1}"
    }

    withName: GENERATEBLOCKS {
        memory = '380G' 
    }

    withName: GATHERRESULTS {
        memory = '380G' 
    }

    withName: CATEGORIZECONTIGS {
        memory = '380G' 
    }

    withName: SUBREAD_FEATURECOUNTS {
        ext.args = '-t gene'
    }

    withName: EDGER {
        ext.args = 'group1 10 group2 10 "\t"'
    }

    withName: DESEQ2 {
        ext.args = 'group1 10 group2 10 "\t"'
    }

    withName: REFEDGER {
        ext.args = 'group_1 10 group_2 10 ","'
    }

    withName: REFDESEQ2 {
        ext.args = 'group_1 10 group_2 10 ","'
    }

    withName: CALCULATEDGECONFUSIONDESEQ {
        ext.args = 'padj log2FoldChange deseq2_'
    }

    withName: CALCULATEDGECONFUSIONEDGER {
        ext.args = 'FDR logFC edger_'
    }

    withName: CALOUR {
        executor = 'local'
        ext.args = '123456'
    }
}