params {
    read_length = 126
    calour_min_reads = 1000
}



process {
//adjust group names and sample numbers if necessary
    withName: REFEDGER {
        ext.args = 'group_1 10 group_2 10 ","'
    }

    withName: REFDESEQ2 {
        ext.args = 'group_1 10 group_2 10 ","'
    }


//adjust group names and sample numbers if necessary
    withName: EDGER {
        ext.args = 'group1 10 group2 10 "\t"'
    }

    withName: DESEQ2 {
        ext.args = 'group1 10 group2 10 "\t"'
    }

}