.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
archive/
null/
test/
datset2_test/
tmp/

bin/*pdf
*-checkpoint.ipynb

??/

graph.html
nf-*.tsv

configs/
plotting/*.ipynb
plotting/*.csv*
plotting/data_cache
plotting/envs/
plotting/envs_newtest/
plotting/archive