params {
    //holds ncbi accession with genomic information
    base_gtf_dir = "/vol/jlab/tlin/all_project/in_silico_dataset/reference_information/references/ncbi_dataset/data"
    //translates the edgar names back to accessions 
    translation_df = "./input_files/full_translation_df.csv"
    read_length = 126
}

process {
    executor = 'slurm'
    queue = 'bcf'
    cpus = 32
    memory = '64G'
    queueSize = 300
    time = '20h'
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
    maxRetries = 2

    beforeScript = """
        var=/var/scratch/\$USER/process_tmp_\$(date +%s%N)\$RANDOM
        echo $USER >> log.txt
        echo \$var > podman_dir.txt
        mkdir -p \$var/podman
        #podman system reset -f
        #podman system migrate
        export XDG_RUNTIME_DIR=\$var/podman
        export TMPDIR=\$var
        export http_proxy=http://192.168.10.1:3128
        export https_proxy=http://192.168.10.1:3128
        export ftp_proxy=http://192.168.10.1:3128
    """

     afterScript = """
        var=\$(cat podman_dir.txt)
        echo \$var
        rm -rf \$var
    """


    withName: SALMON_QUANT {
        memory = '32G'
        cpus = 32
    }

    withName: MINIMAP2_MAP {
        cpus = 50
        memory = '50G'
    }

    withName: ASSEMBLYREADSTATS {
        cpus = 8
        memory = '380G'
        time = '72h'
        queue = 'idle'
    }

    withName: MERGEDATAFRAMES {
        memory = '380G'
    }

    withName: SEQKIT_GREP {
        ext.args = '-v'
    }

    withName: SEQKIT_SEQ {
        ext.args = "-m ${params.read_length + 1}"
    }
}

podman {
    runOptions = '--group-add keep-groups --cgroup-manager=cgroupfs --volume=/homes/tlin/Projects/refbasedassemblereval/bin/:/container/bin/'
}
