params {
    reads = "/vol/jlab/tlin/marbel_benchmarking_integration/benchmarking_sets/sample_sheets/vent_water_reads.csv"
    contigs = "/vol/jlab/tlin/all_project/nf_results/assembler_benchmark_pipeline/marbel_benchmarking_sets/assembler/vent_water_mt_merged/*.fa"
    reference_cds = "/vol/jlab/tlin/marbel_benchmarking_integration/benchmarking_sets/vent_water_microbiome/summary/metatranscriptome_reference.fasta"
    gene_summary = "/vol/jlab/tlin/marbel_benchmarking_integration/benchmarking_sets/vent_water_microbiome/summary/gene_summary.csv"
    outdir = "/vol/jlab/tlin/all_project/nf_results/refbasedassemblereval/vent_water"
    run_prefix = "vent_water"
}